# Домашнє завдання до теми "Введення у Pandas та NumPy"

У домашніх завданнях цього модулю ми працюємо з набором даних про продажі в різних магазинах мережі супермаркетів.

## Контекст даних
Зростання супермаркетів у найбільш населених містах збільшується, а конкуренція на ринку також висока. Набір даних є вигрузкою історичних продажів компанії-мережі супермаркетів у 3х різних філіях протягом 3 місяців.

**Ціль:** Цей набір даних може бути використаний для цілей розуміння тенденцій продажів, які товари в якому місті варто продавати, а поставку яких - варто скоротити. На основі цих даних можна оцінити майбутні тенденції продажів, оцінити поведінку споживачів та оптимізувати стратегію продажів.

Ми будемо робити елементи аналізу в цьому напрямі.

## Опис даних

| Назва оригінальна           | Переклад назви             | Опис українською                                                                                       |
|---------------------------|--------------------------|-----------------------------------------------------------------------------------------------------|
| Invoice id                | Ідентифікатор чека       | Комп’ютерно генерований номер ідентифікації чека продажу                                             |
| Branch                    | Філія                    | Філія супермаркету (доступні 3 філії, ідентифіковані як A, B та C)                                     |
| City                      | Місто                    | Місцезнаходження суперцентрів                                                                        |
| Customer type             | Тип клієнта              | Тип клієнтів, зафіксований як Члени для клієнтів, що використовують картку члена, та Звичайні без картки |
| Gender                    | Стать                    | Стать покупця                                                                                       |
| Product line              | Лінійка продуктів        | Загальні групи категоризації товарів - Електронні аксесуари, Модні аксесуари, Їжа та напої, Здоров’я та краса, Дім і стиль життя, Спорт та подорожі |
| Unit price                | Ціна за одиницю          | Ціна кожного продукту в доларах США                                                                  |
| Quantity                  | Кількість                | Кількість продуктів, придбаних клієнтом                                                             |
| Tax                       | Податок                  | 5% податковий збір для покупця                                                                       |
| Total                     | Загальна сума            | Загальна ціна з урахуванням податку                                                                  |
| Date                      | Дата                     | Дата покупки (Дані доступні з січня 2019 по березень 2019)                                           |
| Time                      | Час                      | Час покупки (з 10:00 до 21:00)                                                                       |
| Payment                   | Оплата                   | Метод оплати, використаний клієнтом для покупки (доступні 3 методи – Готівка, Кредитна картка та Електронний гаманець) |
| COGS                      | Собівартість проданих товарів | Собівартість проданих товарів                                                                      |
| Gross margin percentage   | Відсоток валового прибутку | Відсоток валового прибутку                                                                         |
| Gross income              | Валовий дохід            | Валовий дохід                                                                                       |
| Rating                    | Рейтинг                  | Рейтинг задоволення клієнтів від загального досвіду покупок (На шкалі від 1 до 10)                    |


## Робота з даними в рамках завдань цього модулю

Завантажте дані з навчальної платформи собі локально. Як найркаще організувати збереження даних і ноутбуків було наведено в лекції. Якщо Ви працюєте в Colab - то рекомендую або розмістити дані у себе на диску і підключити диск (`Files` -> `Mount Drive`) або перетягнути дані в `Files` на робочу сесію і читати звідти.

Дані ми НЕ заливаємо зазвичай в git, особливо якщо вони більше 10мб - це погана практика. Ліпше залити на гугл диск і дати посилання в репозиторії в readme.md файлі, якщо дані великі. Саме так рекомендую робити для проєктів з портфоліо.

У домашніх завданнях цього модуля особливо важливо **уважно** читати формулювання завдання і всі коментарі. Також у цьому модулі треба по максимуму використовувати функціонал бібліотеки pandas, навіть якщо існують альтернативні способи зробити те саме. Нагадую, що працюючи з pandas ми здебільшого НЕ потребуємо використовувати цикли для створення колонки - для цього є інші, більш загальноприйняті методи, розглянуті в лекції.

1. Імпортуйте бібліотеку pandas в загальноприйнятому форматі.

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

2. За допомогою бібліотеки Pandas, викликом однієї функції зчитайте набір даних із файлу `supermarket_sales.csv` в змінну `df` типу `pandas.DataFrame`.
Виведіть тип даних змінної `df`.

In [3]:
data_path = '/content/drive/MyDrive/Colab_Notebooks/Data_Analyst_Course_HP/Module_3/Data_M3/supermarket_sales.csv'
df = pd.read_csv(data_path)

In [10]:
df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [9]:
type(df)

pandas.core.frame.DataFrame

3. Виведіть кількість рядків і кількість колонок в наборі даних. Відповідь сформуйте використовуючи fstring у наступному форматі: `Набір даних містить 1000 рядків та 17 колонок`

In [4]:
df_shape = df.shape
print(f'The dataset contains {df.shape[0]} rows and {df.shape[1]} columns')

The dataset contains 1000 rows and 17 columns

4. Скільки оперативної памʼяті у мегабайтах займає даний набір даних? Обчисліть за допомогою pandas і виведіть на екран.

In [5]:
df.memory_usage()

Index                       128
Invoice ID                 8000
Branch                     8000
City                       8000
Customer type              8000
Gender                     8000
Product line               8000
Unit price                 8000
Quantity                   8000
Tax 5%                     8000
Total                      8000
Date                       8000
Time                       8000
Payment                    8000
cogs                       8000
gross margin percentage    8000
gross income               8000
Rating                     8000
dtype: int64

In [6]:
df.memory_usage().sum()

136128

In [7]:
bytes_in_total = df.memory_usage().sum()
megabytes_in_total = bytes_in_total / (1024 * 1024)
print('The dataset takes up {} Mb in memory'.format(megabytes_in_total))

The dataset takes up 0.12982177734375 Mb in memory

**Перше домашнє завдання із Pandas виконано! 🚀✔️**