# Домашнє завдання до теми "Розширені методи обробки даних у Pandas"

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [1]:
from google.colab import drive
drive.mount('/drive')

Mounted at /drive

In [2]:
import pandas as pd
df = pd.read_csv('/drive/MyDrive/Colab_Notebooks/Data_Analyst_Course_HP/Module_3/Data_M3/supermarket_sales.csv')

1. Відсортуйте дані за спаданням ціни товара ('Unit price') і виведіть 5 перших рядочків на екран.

In [3]:
# Step 1. Sort the data in descending order of the 'Unit price'
sorted_data = df.sort_values(by='Unit price', ascending=False)

# Step 2. Display the first 5 rows
print("Top 5 rows sorted by 'Unit price' in descending order:")
print(sorted_data.head(5))

Top 5 rows sorted by 'Unit price' in descending order:
      Invoice ID Branch       City Customer type Gender         Product line  \
983  148-41-7930      C  Naypyitaw        Normal   Male    Health and beauty
122  219-22-9386      B   Mandalay        Member   Male    Sports and travel
930  641-62-7288      B   Mandalay        Normal   Male   Home and lifestyle
494  437-53-3084      B   Mandalay        Normal   Male  Fashion accessories
283  667-92-0055      A     Yangon        Member   Male    Health and beauty

     Unit price  Quantity  Tax 5%    Total       Date   Time      Payment  \
983       99.96         7  34.986  734.706  1/23/2019  10:33         Cash
122       99.96         9  44.982  944.622   3/9/2019  17:26  Credit card
930       99.92         6  29.976  629.496  3/24/2019  13:33      Ewallet
494       99.89         2   9.989  209.769  2/26/2019  11:48      Ewallet
283       99.83         6  29.949  628.929   3/4/2019  15:02      Ewallet

       cogs  gross margin percentage  gross income  Rating
983  699.72                 4.761905        34.986     6.1
122  899.64                 4.761905        44.982     4.2
930  599.52                 4.761905        29.976     7.1
494  199.78                 4.761905         9.989     7.1
283  598.98                 4.761905        29.949     8.5

2. Знайдіть інвойс (рядок в даних) в категорії товарів Electronic accessories, в якому був куплений товар з найбільшою кількістю і найбільшою ціною. Виведіть цей рядок даних на екран.

In [4]:
# Step 1. Filter the dataset for the 'Electronic accessories' product category
electronic_accessories_data = df[df['Product line'] == 'Electronic accessories']

# Step 2. Find the invoice with the highest quantity and highest unit price
highest_quantity_row = electronic_accessories_data.loc[electronic_accessories_data['Quantity'].idxmax()]
highest_price_row = electronic_accessories_data.loc[electronic_accessories_data['Unit price'].idxmax()]

# Step 3. Display the two rows
print("Invoice with the highest quantity in 'Electronic accessories':")
print(highest_quantity_row)

print("\nInvoice with the highest unit price in 'Electronic accessories':")
print(highest_price_row)

Invoice with the highest quantity in 'Electronic accessories':
Invoice ID                            732-94-0499
Branch                                          C
City                                    Naypyitaw
Customer type                              Normal
Gender                                     Female
Product line               Electronic accessories
Unit price                                  41.65
Quantity                                       10
Tax 5%                                     20.825
Total                                     437.325
Date                                    1/13/2019
Time                                        17:04
Payment                               Credit card
cogs                                        416.5
gross margin percentage                  4.761905
gross income                               20.825
Rating                                        5.4
Name: 75, dtype: object

Invoice with the highest unit price in 'Electronic accessories':
Invoice ID                            817-69-8206
Branch                                          B
City                                     Mandalay
Customer type                              Normal
Gender                                     Female
Product line               Electronic accessories
Unit price                                  99.73
Quantity                                        9
Tax 5%                                    44.8785
Total                                    942.4485
Date                                     3/2/2019
Time                                        19:42
Payment                               Credit card
cogs                                       897.57
gross margin percentage                  4.761905
gross income                              44.8785
Rating                                        6.5
Name: 209, dtype: object

3.1. Створіть нову колонку в даних `Rating Category`, яка визначає категорію рейтингу: високий, середній чи низький за наступним правилом:
- якщо рейтинг вищий або рівний 8 - то він високий (`High`)
- якщо рейтинг від 6 до 8 не включаючи - то він середній (`Medium`)
- інакше - низький (`Low`).

In [5]:
# Solution 1.
# Step 1. Create a new column 'Rating Category' using conditions
def assign_rating_category(rating):
    if rating >= 8:
        return 'High'
    elif 6 <= rating < 8:
        return 'Medium'
    else:
        return 'Low'

# Step 2. Apply the function to create the new column
df['Rating Category'] = df['Rating'].apply(assign_rating_category)

# Step 3. Display the first few rows to verify the new column
print("Dataset with new 'Rating Category' column:")
print(df[['Rating', 'Rating Category']].head(10))

# Step 4. Display value counts to see distribution of categories
print("\nDistribution of Rating Categories:")
print(df['Rating Category'].value_counts())

Dataset with new 'Rating Category' column:
   Rating Rating Category
0     9.1            High
1     9.6            High
2     7.4          Medium
3     8.4            High
4     5.3             Low
5     4.1             Low
6     5.8             Low
7     8.0            High
8     7.2          Medium
9     5.9             Low

Distribution of Rating Categories:
Rating Category
Medium    356
High      329
Low       315
Name: count, dtype: int64

In [7]:
# Solution 2.
import numpy as np

# Step 1. Define conditions and choices
conditions = [
    df['Rating'] >= 8,
    (df['Rating'] >= 6) & (df['Rating'] < 8),
    df['Rating'] < 6
]
choices = ['High', 'Medium', 'Low']

# Step 2. Create new column using np.select
df['Rating Category'] = np.select(conditions, choices)

# Step 3. Display the first few rows to verify the new column
print("Dataset with new 'Rating Category' column:")
print(df[['Rating', 'Rating Category']].head(10))

# Step 4. Display value counts to see distribution of categories
print("\nDistribution of Rating Categories:")
print(df['Rating Category'].value_counts())

Dataset with new 'Rating Category' column:
   Rating Rating Category
0     9.1            High
1     9.6            High
2     7.4          Medium
3     8.4            High
4     5.3             Low
5     4.1             Low
6     5.8             Low
7     8.0            High
8     7.2          Medium
9     5.9             Low

Distribution of Rating Categories:
Rating Category
Medium    356
High      329
Low       315
Name: count, dtype: int64

In [8]:
# Solution 3.
# Step 1. Create a new column 'Rating Category' using pd.cut()

df['Rating Category'] = pd.cut(df['Rating'],
                              bins=[0, 6, 8, float('inf')],
                              labels=['Low', 'Medium', 'High'],
                              include_lowest=True)

# Step 2. Display the first few rows to verify the new column

print("Dataset with new 'Rating Category' column:")
print(df[['Rating', 'Rating Category']].head(10))

# Step 3. Display the distribution of rating categories
print("\nDistribution of Rating Categories:")
print(df['Rating Category'].value_counts())

Dataset with new 'Rating Category' column:
   Rating Rating Category
0     9.1            High
1     9.6            High
2     7.4          Medium
3     8.4            High
4     5.3             Low
5     4.1             Low
6     5.8             Low
7     8.0          Medium
8     7.2          Medium
9     5.9             Low

Distribution of Rating Categories:
Rating Category
Medium    351
Low       341
High      308
Name: count, dtype: int64

3.2. Виведіть, який відсоток даних становить кожне зі значень категорій рейтингу.

In [9]:
# Step 1.
# Calculate percentage distribution using value_counts with normalize=True
rating_percentages = df['Rating Category'].value_counts(normalize=True) * 100

# Step 2.
# Sort the percentages by index to maintain consistent order (Low, Medium, High)
rating_percentages_sorted = rating_percentages.sort_index()

# Step 3.
# Display the percentages rounded to 2 decimal places
print("Percentage distribution of Rating Categories:")
print(rating_percentages_sorted.round(2))

Percentage distribution of Rating Categories:
Rating Category
Low       34.1
Medium    35.1
High      30.8
Name: proportion, dtype: float64

4.1. Запустіть код нижче аби створити змінну `time`. Ця змінна містить час в форматі "година:хвилина". Напишіть функцію `get_hour`, яка буде зі змінної формату як `time` дістати лише години і конвертувати їх у тип `int`.

Запустіть написану функцію на змінній `time` та перевірте правильність роботи функції.

In [10]:
# Given time variable
time = '11:28'

In [11]:
# Step 1. Define the get_hour function
def get_hour(time_str):
    return int(time_str.split(':')[0])

# Step 2. Test the function
hour = get_hour(time)
print(f"Hour: {hour}")
print(f"Type of hour: {type(hour)}")

Hour: 11
Type of hour: <class 'int'>

4.2. З допомогою функції `get_hour` і метода `DataFrame.apply()` створіть нову колонку `Hour` в нашому наборі даних, яка буде містити години здійснення покупки, обчислені на основі часу здійснення покупки `Time`.

In [12]:
# Step 1. Create new 'Hour' column using apply()
df['Hour'] = df['Time'].apply(get_hour)

# Step 2. Display the first few rows to verify the new column
print("Dataset with new 'Hour' column:")
print(df[['Time', 'Hour']].head(10))

Dataset with new 'Hour' column:
    Time  Hour
0  13:08    13
1  10:29    10
2  13:23    13
3  20:33    20
4  10:37    10
5  18:30    18
6  14:36    14
7  11:38    11
8  17:15    17
9  13:27    13

4.3. Виведіть кількість значень за кожною годиною покупки і дайте відповідь "О яких годинах найбільше здійснюють покупок покупці і чому на Ваш погляд саме о цих годинах? Чи це слогічно, що найбільше покупок саме в ці години?".

**Analysis and Interpretation:**
***Peak Purchase Hours:***
The highest number of purchases occur during:
15:00 (3 PM): 62 purchases (12.4%)
16:00 (4 PM): 58 purchases (11.6%)
14:00 (2 PM): 56 purchases (11.2%)
***Logical Explanation:***
These peak hours (2 PM - 4 PM) make sense for several reasons:
Post-lunch shopping: People often shop after their lunch break
School pickup: Parents might shop after picking up children from school
Work break: People might use afternoon breaks for shopping
***Pattern Analysis:***
Morning (10-11 AM): Moderate activity
Midday (12-1 PM): Steady flow during lunch hours
Peak (2-4 PM): Highest activity
Evening (5-7 PM): Gradual decline
Night (8 PM): Lowest activity as store likely closes

**Пікові години покупок:**
Найбільша кількість покупок відбувається протягом:
15:00: 62 покупки (12,4%)
16:00: 58 покупок (11.6%)
14:00: 56 покупок (11.2%)
***Пояснення:***
Ці пікові години (14:00 - 16:00) мають сенс з кількох причин:
Покупки після обіду: Люди часто роблять покупки після обідньої перерви
Забирання дітей зі школи: Батьки можуть робити покупки після того, як забирають дітей зі школи
Перерва на роботі: Люди можуть використовувати післяобідню перерву для шопінгу
***Аналіз шаблонів поведінки покупців:***
Ранок (10-11 ранку): Помірна активність
Полудень (12:00-13:00): Стабільний потік в обідні години
Пік (2-4 години дня): Найвища активність
Вечір (5-7 вечора): Поступовий спад
Ніч (8 вечора): Найнижча активність, оскільки магазин, ймовірно, закривається

In [13]:
# Step 1. Calculate and sort the frequency of purchases by hour
hourly_purchases = df['Hour'].value_counts().sort_index()

# Step 2. Display the results
print("Number of Purchases by Hour:")
print(hourly_purchases)

# Step 3. Optional: Calculate percentage distribution
hourly_percentages = (df['Hour'].value_counts(normalize=True) * 100).sort_index()
print("\nPercentage Distribution of Purchases by Hour:")
print(hourly_percentages.round(2), "%")

Number of Purchases by Hour:
Hour
10    101
11     90
12     89
13    103
14     83
15    102
16     77
17     74
18     93
19    113
20     75
Name: count, dtype: int64

Percentage Distribution of Purchases by Hour:
Hour
10    10.1
11     9.0
12     8.9
13    10.3
14     8.3
15    10.2
16     7.7
17     7.4
18     9.3
19    11.3
20     7.5
Name: proportion, dtype: float64 %

5. Виведіть середнє значення чеку (`Total`) для покупок в містах, наявних в даних, за допомогою функції `groupby`.

In [14]:
# Step 1. Calculate average total by city using groupby
average_total_by_city = df.groupby('City')['Total'].mean().round(2)

# Step 2. Print the results
print("Average Receipt Value by City:")
print(average_total_by_city)

Average Receipt Value by City:
City
Mandalay     319.87
Naypyitaw    337.10
Yangon       312.35
Name: Total, dtype: float64

6. Виведіть кількість покупок, середнє, мінімальне та максимальне значення для загальної суми чеку (Total) в містах, наявних в даних, за допомогою функції groupby.
Зробіть висновки з цих показників та дайте рекомендації для мережі супермаркетів.

**Conclusions:**
Purchase Volume:

Yangon leads with 34% of total purchases (340)
Mandalay follows with 33.2% (332)
Naypyitaw has 32.8% (328)
The distribution is remarkably even across cities
Average Receipt Value:

Mandalay: 322.45 (highest)
Naypyitaw: 319.63
Yangon: 316.27 (lowest)
Small variation (∼6 units) between highest and lowest averages
Value Range:

Minimum values are similar (30-33)
Maximum values are identical (1042.12)
Suggests consistent pricing and product range across locations

**Recommendations:**

1. Standardization Success:

The similar statistics across cities indicate successful standardization
Recommendation: Continue maintaining consistent operations and pricing strategies

2. Volume Optimization:

Yangon has highest transaction count but lowest average value
Recommendation:
Implement upselling strategies in Yangon
Study Mandalay's higher average receipt value practices for potential implementation in other cities

3. Transaction Value Enhancement:

For Yangon:
Introduce bundle deals to increase average transaction value
Focus on premium product promotion
For Naypyitaw:
Analyze successful elements from Mandalay
Implement targeted promotions for higher-value items

4. Customer Experience:

Similar minimum/maximum values suggest consistent product range
Recommendation:
Maintain this consistency while introducing city-specific promotions
Consider local preferences in product placement and marketing

5. Growth Strategies:

Short-term:
Focus on increasing average transaction value in Yangon
Replicate Mandalay's success factors in other cities
Long-term:
Consider expansion in Yangon due to higher transaction volume
Develop city-specific marketing strategies while maintaining overall consistency

6. Data-Driven Decisions:

Recommendation:
Implement more detailed transaction tracking
Analyze peak hours and seasonal patterns by city
Study product category performance in each location

**Висновки:**

1. Обсяг закупівель:
Янгон лідирує з 34% від загальної кількості покупок (340)
Мандалай слідує з 33,2% (332)
Найп'їтау - 32,8% (328)
Розподіл по містах є напрочуд рівномірним

2. Середня вартість чеку:
Мандалай: 322,45 (найвищий показник)
Найп'їтау 319.63
Янгон 316.27 (найнижчий)
Невелика варіація (∼6 одиниць) між найвищим та найнижчим середнім значенням

3. Діапазон значень:
Мінімальні значення схожі (30-33)
Максимальні значення однакові (1042,12)
Пропонує однакові ціни та асортимент продукції в різних місцях

**Рекомендації:**

***1. Успіх стандартизації:***

Подібна статистика в різних містах свідчить про успішну стандартизацію
Рекомендація: Продовжувати підтримувати узгодженість операційних та цінових стратегій

***2. Оптимізація обсягу:***
Янгон має найбільшу кількість транзакцій, але найнижчу середню вартість
Рекомендація:
Впроваджувати стратегії допродажу в Янгоні
Вивчити досвід Мандалая з вищою середньою вартістю чеку для потенційного впровадження в інших містах

***3. Підвищення вартості транзакції:***
Для Янгона:
Запровадити пакетні пропозиції для збільшення середньої вартості транзакції
Зосередитися на просуванні преміальних продуктів
Для Найп'їтау:
Проаналізувати успішні елементи з Мандалая
Впровадити цільові промо-акції для товарів з вищою вартістю

***4. Клієнтський досвід:***
Схожі мінімальні/максимальні значення свідчать про послідовний асортимент продукції
Рекомендація:
Підтримувати цю послідовність, впроваджуючи промо-акції для конкретного міста
Враховувати місцеві вподобання при розміщенні продукції та маркетингу

***5. Стратегії зростання:***
Короткострокова:
Зосередитися на збільшенні середньої вартості транзакції в Янгоні
Повторювати фактори успіху Мандалая в інших містах
Довгострокові:
Розглянути можливість розширення в Янгоні через більший обсяг транзакцій
Розробити маркетингові стратегії для конкретних міст, зберігаючи загальну послідовність

***6. Рішення на основі даних:***
Рекомендація:
Впровадити більш детальне відстеження транзакцій
Проаналізувати години пік та сезонні патерни по містах
Вивчати ефективність товарних категорій у кожній локації.

In [15]:
# Step 1. Calculate statistics by city
city_stats = df.groupby('City')['Total'].agg([
    ('Number of Purchases', 'count'),
    ('Average Total', 'mean'),
    ('Minimum Total', 'min'),
    ('Maximum Total', 'max')
]).round(2)

# Step 2. Print the results
print("Purchase Statistics by City:")
print(city_stats)

# Step 3. Add percentage of total purchases
total_purchases = df['Total'].count()
city_percentages = df.groupby('City')['Total'].count() / total_purchases * 100

print("\nPercentage of Total Purchases by City:")
print(city_percentages.round(2), "%")

Purchase Statistics by City:
           Number of Purchases  Average Total  Minimum Total  Maximum Total
City
Mandalay                   332         319.87          18.64        1022.49
Naypyitaw                  328         337.10          10.68        1042.65
Yangon                     340         312.35          12.69        1039.29

Percentage of Total Purchases by City:
City
Mandalay     33.2
Naypyitaw    32.8
Yangon       34.0
Name: Total, dtype: float64 %

7. Ми внесли деякі зміни в наш набір даних, тож, давайте запишемо результат у файл. Запишіть оновлену версію даних у файл `supermarket_sales_enriched.csv`. Зверніть увагу, аби не записати нічого зайвого, наприклад, індекси рядків нам в файлі не потрібні, оскільки вони стандартні.

In [16]:
# Step 1. Save to new CSV file without index
df.to_csv('supermarket_sales_enriched.csv', index=False)

# Step 2. Verify the save was successful
print("File saved successfully!")
print(f"Number of columns in enriched dataset: {len(df.columns)}")
print("\nColumns in the enriched dataset:")
print(df.columns.tolist())

File saved successfully!
Number of columns in enriched dataset: 19

Columns in the enriched dataset:
['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender', 'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date', 'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income', 'Rating', 'Rating Category', 'Hour']

In [17]:
# Verify the saved file
df_verify = pd.read_csv('supermarket_sales_enriched.csv')
print("\nFirst few rows of the saved file:")
print(df_verify.head())

First few rows of the saved file:
    Invoice ID Branch       City Customer type  Gender  \
0  750-67-8428      A     Yangon        Member  Female
1  226-31-3081      C  Naypyitaw        Normal  Female
2  631-41-3108      A     Yangon        Normal    Male
3  123-19-1176      A     Yangon        Member    Male
4  373-73-7910      A     Yangon        Normal    Male

             Product line  Unit price  Quantity   Tax 5%     Total       Date  \
0       Health and beauty       74.69         7  26.1415  548.9715   1/5/2019
1  Electronic accessories       15.28         5   3.8200   80.2200   3/8/2019
2      Home and lifestyle       46.33         7  16.2155  340.5255   3/3/2019
3       Health and beauty       58.22         8  23.2880  489.0480  1/27/2019
4       Sports and travel       86.31         7  30.2085  634.3785   2/8/2019

    Time      Payment    cogs  gross margin percentage  gross income  Rating  \
0  13:08      Ewallet  522.83                 4.761905       26.1415     9.1
1  10:29         Cash   76.40                 4.761905        3.8200     9.6
2  13:23  Credit card  324.31                 4.761905       16.2155     7.4
3  20:33      Ewallet  465.76                 4.761905       23.2880     8.4
4  10:37      Ewallet  604.17                 4.761905       30.2085     5.3

  Rating Category  Hour
0            High    13
1            High    10
2          Medium    13
3            High    20
4             Low    10