# Домашнє завдання до теми "Введення у Pandas та NumPy"

У домашніх завданнях цього модулю ми працюємо з набором даних про продажі в різних магазинах мережі супермаркетів.

## Контекст даних
Зростання супермаркетів у найбільш населених містах збільшується, а конкуренція на ринку також висока. Набір даних є вигрузкою історичних продажів компанії-мережі супермаркетів у 3х різних філіях протягом 3 місяців.

**Ціль:** Цей набір даних може бути використаний для цілей розуміння тенденцій продажів, які товари в якому місті варто продавати, а поставку яких - варто скоротити. На основі цих даних можна оцінити майбутні тенденції продажів, оцінити поведінку споживачів та оптимізувати стратегію продажів.

Ми будемо робити елементи аналізу в цьому напрямі.

## Опис даних

| Назва оригінальна           | Переклад назви             | Опис українською                                                                                       |
|---------------------------|--------------------------|-----------------------------------------------------------------------------------------------------|
| Invoice id                | Ідентифікатор чека       | Комп’ютерно генерований номер ідентифікації чека продажу                                             |
| Branch                    | Філія                    | Філія супермаркету (доступні 3 філії, ідентифіковані як A, B та C)                                     |
| City                      | Місто                    | Місцезнаходження суперцентрів                                                                        |
| Customer type             | Тип клієнта              | Тип клієнтів, зафіксований як Члени для клієнтів, що використовують картку члена, та Звичайні без картки |
| Gender                    | Стать                    | Стать покупця                                                                                       |
| Product line              | Лінійка продуктів        | Загальні групи категоризації товарів - Електронні аксесуари, Модні аксесуари, Їжа та напої, Здоров’я та краса, Дім і стиль життя, Спорт та подорожі |
| Unit price                | Ціна за одиницю          | Ціна кожного продукту в доларах США                                                                  |
| Quantity                  | Кількість                | Кількість продуктів, придбаних клієнтом                                                             |
| Tax                       | Податок                  | 5% податковий збір для покупця                                                                       |
| Total                     | Загальна сума            | Загальна ціна з урахуванням податку                                                                  |
| Date                      | Дата                     | Дата покупки (Дані доступні з січня 2019 по березень 2019)                                           |
| Time                      | Час                      | Час покупки (з 10:00 до 21:00)                                                                       |
| Payment                   | Оплата                   | Метод оплати, використаний клієнтом для покупки (доступні 3 методи – Готівка, Кредитна картка та Електронний гаманець) |
| COGS                      | Собівартість проданих товарів | Собівартість проданих товарів                                                                      |
| Gross margin percentage   | Відсоток валового прибутку | Відсоток валового прибутку                                                                         |
| Gross income              | Валовий дохід            | Валовий дохід                                                                                       |
| Rating                    | Рейтинг                  | Рейтинг задоволення клієнтів від загального досвіду покупок (На шкалі від 1 до 10)                    |


## Робота з даними в рамках завдань цього модулю

Завантажте дані з навчальної платформи собі локально. Як найркаще організувати збереження даних і ноутбуків було наведено в лекції. Якщо Ви працюєте в Colab - то рекомендую або розмістити дані у себе на диску і підключити диск (`Files` -> `Mount Drive`) або перетягнути дані в `Files` на робочу сесію і читати звідти.

Дані ми НЕ заливаємо зазвичай в git, особливо якщо вони більше 10мб - це погана практика. Ліпше залити на гугл диск і дати посилання в репозиторії в readme.md файлі, якщо дані великі. Саме так рекомендую робити для проєктів з портфоліо.

У домашніх завданнях цього модуля особливо важливо **уважно** читати формулювання завдання і всі коментарі. Також у цьому модулі треба по максимуму використовувати функціонал бібліотеки pandas, навіть якщо існують альтернативні способи зробити те саме. Нагадую, що працюючи з pandas ми здебільшого НЕ потребуємо використовувати цикли для створення колонки - для цього є інші, більш загальноприйняті методи, розглянуті в лекції.

1. Імпортуйте бібліотеку pandas в загальноприйнятому форматі.

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

2. За допомогою бібліотеки Pandas, викликом однієї функції зчитайте набір даних із файлу `supermarket_sales.csv` в змінну `df` типу `pandas.DataFrame`.
Виведіть тип даних змінної `df`.

In [3]:
data_path = '/content/drive/MyDrive/Colab_Notebooks/Data_Analyst_Course_HP/Module_3/Data_M3/supermarket_sales.csv'
df = pd.read_csv(data_path)

3. Виведіть кількість рядків і кількість колонок в наборі даних. Відповідь сформуйте використовуючи fstring у наступному форматі: `Набір даних містить 1000 рядків та 17 колонок`

In [4]:
df_shape = df.shape
print(f'The dataset contains {df.shape[0]} rows and {df.shape[1]} columns')

The dataset contains 1000 rows and 17 columns

4. Скільки оперативної памʼяті у мегабайтах займає даний набір даних? Обчисліть за допомогою pandas і виведіть на екран.

In [5]:
df.memory_usage()

Index                       128
Invoice ID                 8000
Branch                     8000
City                       8000
Customer type              8000
Gender                     8000
Product line               8000
Unit price                 8000
Quantity                   8000
Tax 5%                     8000
Total                      8000
Date                       8000
Time                       8000
Payment                    8000
cogs                       8000
gross margin percentage    8000
gross income               8000
Rating                     8000
dtype: int64

In [6]:
df.memory_usage().sum()

136128

In [7]:
bytes_in_total = df.memory_usage().sum()
megabytes_in_total = bytes_in_total / (1024 * 1024)
print('The dataset takes up {} Mb in memory'.format(megabytes_in_total))

The dataset takes up 0.12982177734375 Mb in memory

**Перше домашнє завдання із Pandas виконано! 🚀✔️**